<header id="menu" class="menu">
    {{#each headers}}
    <a href="#" id="{{id}}" class="menu-item">{{title}}</a>
        <span id="loggedInUser" class="menu-item"></span>
    <div></div>
    {{/each}}
</header>